%message {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.maydo {
    @extend %message;
    background-color: green;
}

.maynot {
    @extend %message;
    background-color: red;
}

.callme {
    @extend %message;
    background-color: orange;
}
